*{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    text-align: center;

    color: #000000;
}

.bg{
    /*Background*/
    width:100%;
    min-width:1000px;
    height:auto;
    position: absolute;

    background: #ABB1CE;
}

.main_rectangle{
    /*Big rectangle wrapper*/
    box-sizing: border-box;

    position: absolute;
    width: 1005px;
    height: 390px;
    left: 225px;
    top: 32px;

    background: #F5FFFE;
    border: 9px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
}

.pick_date{
    /* Pick your date: */
    position: absolute;
    width: 654px;
    height: 39px;
    left: 176px;
    top: 110px;
}

.date_container {
    /*Holds date picker*/
    box-sizing: border-box;

    position: absolute;
    width: 500px;
    height: 54px;
    left: 250px;
    top: 150px;
}

.card_notice{
    position: absolute;
    width: 801px;
    height: 30px;
    left: 102px;
    top: 200px;

    font-size: 32px;
}

.web_container{
    width:100%;
    min-width:1000px;
    height:auto;
}

.confirm_button{
    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 58px;
    left: 328px;
    top: 290px;

    background: #E1F0DE;
    border: 4px solid #000000;
    border-radius: 10px;
}

.confirm_text{
    position: absolute;
    width: 331px;
    height: 39px;
    top: 9px;
    left: 9px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.num-guests{
    /*Holds guest number*/
    position: absolute;
    width: 654px;
    top:10px;
    height: 39px;
    left: 176px;

    font-size: 32px;
}