.loginPage-label {
    font-style: normal;
    font-size: 29.5781px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: 2%;
    }

.loginPage-title {
        font-style: normal;
        font-weight: 700;
        font-size: 39.4375px;
        line-height: 59px;
        letter-spacing: -0.015em;
        color: #000000;
}

.loginPage-content{
    clear: both;
    display: flex;
    flex-direction: column;
    flex: .65;
}

.loginPage-textfield {
    background: #FFFFFF;
    border: 1.24621px solid #CCCCCC;
    border-radius: 9.96965px;
    width: 100%;
    max-width: 500px;
    left:25%;
}


.login-account-content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;
    background: #F5FFFE;
    border: 2px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 40%;
    min-width: 400px;
  }

.login-account-label {
    width: 739px;
    height: 23px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-size: 14.9545px;
    line-height: 22px;
    color: #000000;
}


.login-label {
    font-style: normal;
    font-size: 29.5781px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: 2%;
    }
  